.container {
  padding-left: 2vw;
  width: 100%;
}
.character {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-family: "Plateia";
  font-weight: 700;
  text-decoration: none;

  & + .character {
    flex-direction: row-reverse;
    margin-top: 10px;
  }
  span {
    text-align: center;
    transition: all 0.3s;
    padding: 0 25px;
    letter-spacing: 2px;
  }
  &:hover {
    span {
      font-size: 2rem;
    }
    .imgBox {
      transform: scale(1.1);
    }
  }
}
.imgBox {
  width: 175px;
  height: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0px 0px 7px 1px #2eff00c4;
  border-radius: 15px;
  transition: all 0.3s;
  &.light {
    box-shadow: 0px 0px 7px 1px #044405;
  }
}
