.userPanel {
  padding: 0px;
  display: flex;
  align-items: center;
  &.userLink {
    a {
      border: none;
      &:hover {
        background-color: transparent;
        text-shadow: 0 0 5px #00ff04;
        color: #e8e8e8;
      }
    }
  }
  a {
    color: #fff;
    background-color: transparent;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: 1px;
    border-radius: 15px;
    border: 1px solid #126300;
    padding: 15px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      text-shadow: 0 0 12px #00ff04;
      box-shadow: 0px 0px 8px 0px #1c8c04;
      background-color: transparent;
    }
  }

  button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0 0 0 15px;
    cursor: pointer;
    svg {
      width: 25px;
      fill: #12d315;
      stroke-width: 4px;
      transform: scale(-1, -1);
      transition: all 0.3s;
      &:hover {
        fill: #00ff04;
      }
    }
  }
  &.light {
    &.userLink {
      a {
        color: #0a0a0a;
      }
    }
    a {
      color: #0a0a0a;
      &:hover {
        box-shadow: 0px 0px 8px 0px #115a00;
        text-shadow: 0 0 5px #044405;
      }
    }
  }
}

.light {
  &.userLink {
    a {
      color: #0a0a0a;
    }
  }
}
