.login {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Jost", sans-serif;
  background: linear-gradient(to bottom, #2e2f38, #0e0e0e, #101010);
}

.main {
  width: 350px;
  max-height: 525px;
  background: transparent;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #071901;
  div {
    position: relative;
    width: 100%;
    span {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      font-size: 1.2rem;
      color: red;
    }
  }
  form {
    background: #eeeeee;
    border-radius: 60% 60% 0% 0%/10%;
    max-height: 455px;
    overflow-y: scroll;
    margin: 0 -40px 0 -20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-bottom: 25px;
    &.formError {
      background: #ffeeee;
    }
  }
  input {
    width: 60%;
    background: #9e9e9e;
    justify-content: center;
    display: flex;
    margin: 10px auto 20px;
    padding: 10px 20px;
    font-size: 1.6rem;
    color: #000;
    border: none;
    color: #011807;
    outline: none;
    border-radius: 5px;
  }
  button {
    width: 60%;
    color: #fff;
    margin: 10px auto;
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding: 10px;
    justify-content: center;
    display: block;
    background: #24252b;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: 0.3s ease-in;
    cursor: pointer;
    &:hover {
      background: #011807;
      box-shadow: 0px 0px 20px 0px #114400;
    }
  }
  h2 {
    color: #2e2f38;
    font-size: 2.8em;
    justify-content: center;
    display: flex;
    margin: 40px 20px;
    font-weight: bold;
  }
  .resError,
  .signUpSuccess {
    width: 60%;
    font-size: 1.4em;
    line-height: normal;
    padding: 15px;
    text-align: center;
    margin-bottom: 15px;
    border-radius: 15px;
  }
  .resError {
    color: #851818;
    border: 1px solid #851818;
    box-shadow: 0 0 10px 0px #c68e8e;
    background-color: #fdcece;
  }
  .signUpSuccess {
    color: #04d816;
    border: 1px solid #98ff6f;
    box-shadow: 0 0 10px 0px #93f38e;
    background-color: #e3ffe0;
  }
}

.linkBox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  a {
    color: #fff;
    font-size: 2.3rem;
    display: flex;
    font-weight: bold;
    text-decoration: none;
  }
}

.errors {
  input {
    border: 1px solid #851818;
    box-shadow: 0 0 10px 0px #c68e8e;
    background-color: #fdcece;
  }
}
