.locations {
  padding: 50px 0 0;
  column-count: 2;
  li {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
  }
  span {
    font-family: "Plateia";
    font-size: 1.4rem;
    line-height: 2.4rem;
    letter-spacing: 1px;
    min-width: 45px;
  }
  a {
    font-size: 2.2rem;
    font-family: "Montserrat";
    color: #fff;
    line-height: 2.4rem;
    text-decoration: none;
    transition: all 0.3s;
    &:hover {
      text-shadow: 0 0 16px #00ff04;
    }
  }
}

.episodeLink {
  border-radius: 15px;
  text-align: center;
  max-width: 250px;
  width: 100%;
  padding: 2vw;
  margin: 1vw;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s;
  div {
    font-family: "Plateia";
    font-weight: 700;
    font-size: 7rem;
    letter-spacing: 6px;
    line-height: 8rem;
    color: transparent;
    padding-bottom: 20px;
    -webkit-text-stroke: 3px rgb(0, 255, 26);
    transition: all 0.3s;
  }
  h6 {
    transition: all 0.3s;
  }
  &:hover {
    box-shadow: 0 1px 0 0 rgb(0, 255, 26);
    div {
      text-shadow: 0 0 50px #006901;
    }
    h6 {
      text-shadow: 0 0 16px #00ff04;
    }
  }
}
