$font-dark: #fff;
$font-light: #0d200b;

$font-second-dark: #ececec;
$font-second-light: #2d2d2d;

$background-color-light: #ebebeb;
$background-color-dark: #27272e;

$header-bgc-light: #f0f0f0;
$header-bgc-dark: #24252b;

$lights-around-dark: #00ff04;
$lights-around-light: #044405;

$footer-bgc-light: #d3d3d3;
$footer-bgc-dark: #4d4d4d;

%monts-400 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

%plateia-700 {
  font-family: "Plateia", sans-serif;
  font-weight: 700;
}
