.episodes {
  padding-top: 50px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.link {
  text-decoration: none;
  color: #fff;
  padding: 15px;
  position: relative;
  &:hover {
    .imgBox {
      box-shadow: 0px 0px 7px 5px #00ff04;
      filter: brightness(0.5);
    }
    .seasonNum {
      opacity: 1;
    }
  }
}
.imgBox {
  display: flex;
  overflow: hidden;
  border-radius: 15px;
  border: 1px solid #2eff00c4;
  filter: brightness(1);
  z-index: 1;
  transition: all 0.3s;
}
.seasonNum {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  font-family: "Plateia";
  font-weight: 700;
  font-size: 8rem;
  color: transparent;
  -webkit-text-stroke: 3px#ffffff;
  text-shadow: 0 0 30px #00ff04;
  transform: translate(-50%, -50%);
  transition: all 0.4s;
  opacity: 0;
}
