@import "reset";
@import "vars";
@import "fonts";

html,
body {
  @extend %monts-400;
  font-size: 10px;
  line-height: 10px;
  color: #fff;
  background-color: #27272e;
  height: 100%;
}

body > div {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  padding-top: 85px;
  flex-grow: 1;
}
h4 {
  text-align: center;
  font-size: 3.2rem;
  line-height: 3.8rem;
  padding: 25px 0;
  font-family: "Plateia";
  font-weight: 700;
}
header {
  position: fixed;
  top: 0;
  z-index: 5;
  background-color: #24252b;
  left: 0;
  right: 0;
  box-shadow: 3px 5px 20px 0px #2eff00c4;
  nav {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  div {
    display: flex;
  }

  .link {
    padding: 10px;
    @extend %plateia-700;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.8em;
    line-height: 3em;
    height: 100%;
    display: block;
    transition: all 0.3s;
    &:hover {
      text-shadow: 0 0 16px #00ff04;
    }
    &.--active {
      text-shadow: 0 0 16px #00ff04;
    }
  }

  .logo {
    padding: 0;
    display: inline-block;
    line-height: 0;
  }
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

footer {
  background-color: #4d4d4d;
  padding: 10px 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.characters-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &__item {
    width: calc(1200px / 5);
    padding: 15px;
  }
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s;
    border-radius: 10px;
    &:hover {
      box-shadow: 0px 0px 12px 4px #2eff00c4;
      transform: scale(1.1);
      p {
        text-shadow: 0 0 16px #00ff04;
      }
    }
  }
  p {
    font-size: 1.8em;
    line-height: 1.6em;
    padding-top: 5px;
    transition: all 0.3s;
  }

  img {
    width: 250px;
    height: 250px;
    border-radius: 15px;
    overflow: hidden;
  }
}

ul.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 35px 0 50px;
  li.link-num {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    &.--active {
      border-radius: 50%;
      border: 1px solid #00ff04;
    }
  }
  a,
  span {
    @extend %plateia-700;
    padding: 10px;
    font-size: 1.4em;
    display: block;
    line-height: 1.6em;
    color: #fff;
  }
  a {
    text-decoration: none;
    transition: all 0.3s;
    &:hover {
      text-shadow: 0 0 16px #00ff04;
      stroke: #24252b;
    }
  }
}

.page-404 {
  height: 100%;
  .page {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}

.page-error {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  .bg {
    position: absolute;
    background-position: center center;
    background-size: contain;
    top: calc(-25vw - 25vh);
    right: calc(-25vw - 25vh);
    left: calc(-25vw - 25vh);
    bottom: calc(-25vw - 25vh);
    animation: 300s linear 0s reverse infinite spinning;
  }
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 6.4rem;
    max-height: 50%;
    padding: 0 145px 0 50px;
    span {
      position: relative;
      font-family: "Zombie", sans-serif;
      font-size: 34rem;
      text-shadow: 0 0 16px #00ff04;
      -webkit-text-stroke: 4px#82be49;
      z-index: 4;
    }
  }
  &__image-box {
    max-width: 400px;
    position: relative;
    z-index: 5;
    animation: 1s linear 0s rotateImg;
  }
  &__first-number {
    margin-right: -45px;
    opacity: 0;
    animation: 0.8s linear 0.8s forwards showNumberOne;
  }
  &__second-number {
    margin-left: -145px;
    opacity: 0;
    animation: 0.8s linear 1s forwards showNumberTwo;
  }
  &__link {
    text-align: center;
    position: relative;
    opacity: 0;
    animation: 0.6s linear 1.6s forwards showLinkHome;
    a {
      display: inline-block;
      padding: 10px 15px;
      @extend %plateia-700;
      font-size: 1.6rem;
      line-height: 1.8rem;
      text-decoration: none;
      color: #fff;
      transition: all 0.3s;
      &:hover {
        text-shadow: 0 0 16px #00ff04;
        stroke: #24252b;
      }
    }
  }
  a {
    display: inline-block;
    padding: 10px 15px;
    @extend %plateia-700;
    font-size: 1.6rem;
    line-height: 1.8rem;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s;
    &:hover {
      text-shadow: 0 0 16px #00ff04;
      stroke: #24252b;
    }
  }
}
.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateImg {
  0% {
    opacity: 0;
    transform: rotate(220deg) scale(0);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg) scale(1);
  }
}

@keyframes showNumberOne {
  0% {
    opacity: 0;
    transform: translateX(200px) scale(0) skew(45deg, 30deg);
  }
  80% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1) skew(0deg, 0deg);
  }
}

@keyframes showNumberTwo {
  0% {
    opacity: 0;
    transform: translateX(-200px) scale(0) skew(24deg, 60deg);
  }
  80% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1) skew(0deg, 0deg);
  }
}

@keyframes showLinkHome {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
